@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ArialItalic";
	src: url("../fonts/ArialItalic.eot");
	src: url("../fonts/ArialItalic.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ArialItalic.woff") format("woff"),
			 url("../fonts/ArialItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold.eot");
	src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoBold.woff") format("woff"),
			 url("../fonts/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ArialRegular";
	src: url("../fonts/ArialRegular.eot");
	src: url("../fonts/ArialRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ArialRegular.woff") format("woff"),
			 url("../fonts/ArialRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}